/* Colores */

$blanco = white
$negro = black

/* grises */
$grisCC = #ccc
$gris33 = #333333
$gris36 = #363636
$gris3F = #3f3f3f
$gris4D = #4d4d4d
$grisED = #ededed
$grisB3 = #B3B3B3
$gris99 = #999
$gris80 = #808080
$grisD8 = #d8d8d8
$gris66 = #666
$grisF4 = #f4f4f4

$verde = #00C83C
$naranja = #FE9200
$verdeRollover = #03a835

/* Secundarios */
$secundario01 = #A4D7E1
$secundario02 = #60A9A6
$secundario03 = #FF9460
$secundario04 = #8BA2C1
$secundario05 = #A1DD70
$secundario06 = #F67E7D

$azulX = #02b1ff

/* Fuente */
fuente(size, weight, Color = false)
  font-size: size
  font-weight: weight
  if Color
    color: Color

/* Flex */
disFlex(wr, jc, ai)
  display: flex
  flex-wrap: wr
  justify-content: jc
  align-items: ai
